<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>PDF Splitter</title>
</head>
<body>
    <header>
        <a href="izzybeetschen.com">
            <img src="../static/images/home.png" alt="Home" class="home">
        </a>
    </header>
    <div class="outer">
        <div class="middle">
            <div class="main-text">
                <h1 id="title">DocSplit</h1>
                <p id="explanation">
                    Upload a textbook PDF and the application will create a new PDF for each chapter of the textbook, 
                    containing that chapter's content. You will be able to find these PDFs in a zip file called 'split_chapters.zip' in your downloads folder.
                </p>
                <form method="POST" enctype="multipart/form-data">
                    <div class="input-sect">
                        <div id="upload-div">
                            <!-- <input id="upload" type="file" name="file" accept=".pdf" required hidden>
                            <label for="upload" id="upload-label" class="custom-button">Upload File</label>
                            <span id="file-name" class="file-name">No file uploaded</span> -->
                            <!-- <script>
                                document.getElementById('upload').addEventListener('change', function() {
                                    const fileLabel = document.getElementById('file-name');
                                    if (this.files.length > 0) {
                                        fileLabel.textContent = this.files[0].name;
                                    } else {
                                        fileLabel.textContent = 'No file uploaded';
                                    }
                                });
                            </script> -->
                            <input type="file" name="file" accept=".pdf" required>
                        </div>
                        <button id="submit" type="submit">Upload and Split</button>
                    </div>
                </form>
                <div class="issue-div">
                    <p id="issue-text">
                        If you encounter any issues, please open an issue on the <a href="https://github.com/izzybeetschen/pdf-splitting/issues" target="_blank">GitHub Repository</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
